/**
 * @name avalanche styleguide theme
 * @level 1.
 * @description
 *   Styleguide theme for the avalanche framework
 */
/**
 * @name Function
 * @level 2.
 */
/**
 * @name breakpointmax
 * @level X.X.
 * @description
 *   Get the max-width value of a breakpoint  
 *   breakpointmax($breakpoint, $base: $font-base-size)
 */
/**
 * @name strip-unit
 * @level X.X.
 * @description
 *   strip-unit($number)
 */
/**
 * @name System
 * @level 3.
 */
/**
 * @name Variable
 * @level X.X.
 */
/**
 * @name Color Scheme
 * @level X.X.X.
 * @description Fancy generator: http://coolors.co/
 */
/**
 * @name Basic
 * @level X.X.X.X.
 */
/**
 * @colors
 *   $cs-a|#16193B $cs-b|#35478C $cs-c|#4E7AC7 $cs-d|#7FB2F0 $cs-e|#ADD5F7
 *   $cs-a-contrast|#fff $cs-b-contrast|#fff $cs-c-contrast|#fff $cs-d-contrast|#fff $cs-e-contrast|#fff
 */
/**
 * @name Alerts
 * @level X.X.X.X.
 * @description Colors for alerts e.g. success, error, info,...
 */
/**
 * @colors
 *   $cs-positive|#468847 $cs-neutral|#3A87AD $cs-cautious|#c09853 $cs-negative|#b94a48
 */
/**
 * @name Grey
 * @level X.X.X.X.
 */
/**
 * @colors
 *   $cs-grey-a|#efefef $cs-grey-b|#d5d5d5 $cs-grey-c|#bcbcbc
 */
/**
 * @name Typography
 * @level X.X.X.
 * @description
 *   Set the font weight variables according to the font  
 *   e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700  
 *   In this case set the font weights to 200, 400 and 700  
 *   If you set a font weight in your css you must use this variables!  
 *   e.g. font-weight: $font-a-weight-normal;
 */
/**
 * @name Basic configuration
 * @level X.X.X.X.
 *
 * 1. must be in px, do not use in your styles
 */
/* [1] */
/* [1] */
/**
 * @variables
 *   $font-base-size|16px $font-base-line-height|24px $font-base-color|#222
 */
/**
 * @name Font sizes
 * @level X.X.X.X.
 */
/**
 * @name System fonts
 * @level X.X.X.X.
 */
/**
 * @name Font A
 * @level X.X.X.X.X.
 */
/**
 * @font ['Helvetica Neue', sans-serif]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */
/**
 * @name Font B
 * @level X.X.X.X.X.
 */
/**
 * @font [Futura, 'Trebuchet MS', sans-serif]
 *   ABCDEFGHIJKLMNOPQRSTUVWXYZ  
 *   abcdefghijklmnopqrstuvwxyz  
 *   0123456789  
 *   !&/()$=@;:,.
 */
/**
 * @name Anchors
 * @level X.X.X.X.
 * @markup
 *   <a href="#">Anchor</a>
 */
/**
 * @name Text selection
 * @level X.X.X.X.
 * @description
 *   Select some text to see it in action
 */
/**
 * @name Breakpoints
 * @level X.X.X.
 * @description
 *   More infos about media queries:  
 *   [Brad Frost - 7 Habits of highly effective media queries](http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/)
 */
/**
 * @name min Breakpoints
 * @level X.X.X.X.
 */
/**
 * @variables
 *   $breakpoint-s|30em $breakpoint-m|45em $breakpoint-l|60em $breakpoint-xl|75em
 */
/**
 * @name max Breakpoints
 * @level X.X.X.X.
 * @description
 *   Use with care, min-width breakpoints should be preferred!
 */
/**
 * @variables
 *   $breakpoint-max-s|29.9375em $breakpoint-max-m|44.9375em $breakpoint-max-l|59.9375em $breakpoint-max-xl|74.9375em
 */
/**
 * @name Spacing
 * @level X.X.X.
 */
/**
 * @variables
 *   $spacing-xs|0.5em $spacing-s|1em $spacing-m|1.5em $spacing-l|2em $spacing-xl|3em $spacing-xxl|4em $spacing-xxxl|5em
 */
/**
 * @name Layout
 * @level X.X.X.
 */
/**
 * @variables
 *   $layout-max-width|50em $layout-box-sizing-reset|true
 */
/**
 * @name Base
 * @level 4.
 */
/**
 * @name Typography
 * @level X.X.
 */
h5 + * {
  margin-top: 0; }

/**
 * @name Utility
 * @level 5.
 */
/**
 * @name Clearfix
 * @level X.X.
 * @description
 *   Contain floats
 */
.u-theme-clearfix {
  *zoom: 1; }
  .u-theme-clearfix:before, .u-theme-clearfix:after {
    display: table;
    content: ' '; }
  .u-theme-clearfix:after {
    clear: both; }

/**
 * @name Container
 * @level X.X.
 * @description
 *   Basic container class to limit the max-width  
 *   of the layout and add some padding
 */
.u-theme-container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 50em; }

/**
 * @name List reset
 * @level X.X.
 */
.u-theme-list-reset {
  padding-left: 0;
  list-style-type: none; }

/**
 * @name Spacing
 * @level X.X.
 */
.u-theme-spacing-wrap > * + * {
  margin-top: 1.5em; }

.u-theme-spacing-wrap--xxxl > * + * {
  margin-top: 5em; }

/**
 * @name Object
 * @level 6.
 */
/**
 * @name Island
 * @level X.X.
 */
/**
 * Variables
 */
/**
 * @name Base
 * @level X.X.X.
 * @description
 *   A single class used to box off content, leaving it closed on all sides like, well, an island.  
 *   [Harry Roberts - The 'island' object](http://csswizardry.com/2011/10/the-island-object/)
 *
 * @markup
 *   <div class="o-island">
 *     Island
 *   </div>
 */
.o-theme-island {
  display: block;
  padding: 1.5em;
  background: #efefef; }
  .o-theme-island > :last-child {
    margin-bottom: 0; }

/**
 * @name Functions
 * @level X.X.X.
 */
/**
 * @name Color scheme
 * @level X.X.X.
 */
/**
 * @name Component
 * @level 7.
 */
/**
 * @name Color
 * @level X.X.
 */
.c-theme-color {
  margin-top: 1.5em; }

.c-theme-color__color {
  display: inline-block; }
  .c-theme-color__color + .c-theme-color__color {
    margin-left: 1.5em; }

.c-theme-color__box {
  width: 8em;
  height: 8em;
  border: 0.0625rem solid #bcbcbc; }

.c-theme-color__name {
  margin: 0; }

/**
 * @name Footer main
 * @level X.X.
 */
.c-theme-footer-main {
  padding: 0.5em 0;
  border-top: 0.0625rem solid #efefef; }

/**
 * @name Header main
 * @level X.X.
 */
.c-theme-header-main {
  padding: 2em 0;
  background: #35478C;
  text-align: center; }

.c-theme-header-main__title, .c-theme-header-main__description {
  color: #fff; }

.c-theme-header-main__description {
  margin-top: 0.5em; }

/**
 * @name Markup
 * @level X.X.
 */
.c-theme-markup__code {
  margin-top: 1.5em; }

/**
 * @name Section
 * @level X.X.
 */
.c-theme-section--main > .c-theme-section__item + .c-theme-section__item {
  margin-top: 4em;
  padding-top: 4em;
  border-top: 0.0625rem solid #efefef; }

.c-theme-section--inner > * + * {
  margin-top: 3em; }
p + .c-theme-section--inner {
  margin-top: 1.5em; }
.c-theme-section--inner .c-theme-section--inner > * + * {
  margin-top: 2em; }

.c-theme-section__detail {
  margin-top: 0.5em; }

.c-theme-section__anchor {
  position: absolute;
  margin-left: -0.75em;
  padding-right: 0.5em;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s; }
  .c-theme-section__anchor, .c-theme-section__anchor:visited, .c-theme-section__anchor:hover, .c-theme-section__anchor:focus {
    color: #d5d5d5; }
  .c-theme-section__anchor:hover, .c-theme-section__anchor:focus {
    text-decoration: underline; }
  .c-theme-section__title:hover .c-theme-section__anchor, .c-theme-section__title:focus .c-theme-section__anchor {
    opacity: 1; }

/**
 * @name TOC
 * @level X.X.
 */
.c-toc__list--main > .c-toc__item + .c-toc__item {
  margin-top: 0.5em; }
.c-toc__list--main > .c-toc__item > .c-toc__link {
  font-weight: 700;
  font-size: 1.25em; }


/*# sourceMappingURL=theme.css.map */