<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ base_path }}assets/vendor/prism/prism.css">
    <link rel="stylesheet" href="theme/vendor/normalize.css/normalize.css">
    {% for source_file in source %}
      <link rel="stylesheet" href="{{ source_file }}">
    {% endfor %}
    <link rel="stylesheet" href="theme/css/theme.min.css">
  </head>
  <body class="u-theme-spacing-wrap--xxxl">
      {% include 'header.html' %}
    <div class="u-theme-container">
      {% include 'toc.html' %}
    </div>
    <div class="u-theme-container">
      <div class="c-theme-section c-theme-section--main">
        {% for section in sections %}
          {% include 'section.html' %}
        {% endfor %}
      </div>
    </div>
    <div class="u-theme-container">
      {% include 'footer.html' %}
    </div>
      
    <script src="{{ base_path }}assets/vendor/prism/prism.js"></script>
  </body>
</html>
