<section id="{{ section.level }}" class="c-theme-section__item">
  <{{ section.htag }} class="c-theme-section__title"><a href="#{{ section.level }}" class="c-theme-section__anchor">#</a>{{ section.name }}</{{ section.htag }}>
  {{ section.description|markdown }}

  {% if section.code %}
    <div class="c-theme-section__detail c-theme-code o-theme-island">
      {% if section.code_language != 'scss' %}
        <div class="c-theme-code__rendered">
          {{ section.code|raw }}
        </div>
      {% endif %}
      <div class="c-theme-code__code">
        <pre class="language-{{ section.code_language }}"><code class="language-{{ section.code_language }}">{{ section.code }}</code></pre>
      </div>
    </div>
  {% endif %}

  {% if section.colors %}
    <div class="c-theme-section__detail c-theme-color">
      {% for colorset in section.colors %}
        <ul class="c-theme-color__set u-theme-list-reset">
          {% for color in colorset %}
            <li class="c-theme-color__color">
              <div style="background:{{ color.value }};" class="c-theme-color__box"></div>
              {% if color.name %}
                <h5 class="c-theme-color__name">{{ color.name }}</h5>
              {% endif %}
              <h6 class="c-theme-color__value">{{ color.value }}</h6>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.variables %}
    <div class="c-theme-section__detail c-theme-variable o-theme-island">
      {{ section.variables|markdown }}
    </div>
  {% endif %}

  {% if section.font %}
    <div class="c-theme-section__detail c-theme-font o-theme-island">
      <div style="font-family:{{ section.font_family }};">
        {{ section.font|markdown }}
      </div>
    </div>
  {% endif %}

  {% if section.sub %}
    <div class="c-theme-section c-theme-section--inner">
      {% for section in section.sub %}
        {% include 'section.html' %}
      {% endfor %}
    </div>
  {% endif %}
</section>
