/**
 * @name Header main
 * @level X.X.
 */

.c-theme-header-main {
  padding: $spacing-l 0;
  background: $cs-b;
  text-align: center;
}

.c-theme-header-main__title,
.c-theme-header-main__description {
  color: $cs-b-contrast;
}

.c-theme-header-main__description {
  margin-top: $spacing-xs;
}
