/**
 * @name Markup
 * @level X.X.
 */

.c-theme-code__rendered {
  .o-grid__inner {
    display: block;
    padding: $spacing-xs;
    background: $cs-grey-c;
  }
}

.c-theme-code__code {
  * + & {
    margin-top: $spacing-m;
  }
  pre[class*='language-'] {
    margin: 0;
  }
}
